/* size and positioning */

body{
	overflow: auto;
}

header {
	text-align: center;
}

header input {
	margin: 0.25em 0;
	padding-left: 5px;
}

#collection-name {
	text-align: center;
	width: 300px;
}
.search__wrapper {
	text-align: center;
}

.search__criteria{
	margin-left: 10px;
}
section.results {
  position: relative;
  display: block;
  margin-top:0;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;
  padding: 1em;
  /*border-style: solid;*/
  /*border-width: 1px;*/
}
.wrapper {
	margin-left:auto;
	margin-right: auto;
	border: 1px solid chocolate;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.wrapper ul{
	text-align: center;
	margin: 0 auto;
	-webkit-padding-start: 0;
	width:100%;
}

.card {
	height: 160px;
	width: 40%;
	float: left;
	margin: 5px;
	border-style: none;
	/*border-width: 1px;*/
	/*border-radius: 8px;*/
	list-style-type: none;
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
}

.card__source {
	margin: 0;
	text-align: left;
	margin-left: 5px;
}
.card__image {
	height: 95px;
	width: calc(100% - 1em);
	margin: 0 0.5em 0 0.5em;
}
.card__image img {
	max-width:100%
}
.card__notes {
	/*height: 30px;*/
	/*width: 90%;*/
	margin: 0.5em;
}

/* todo: http://stackoverflow.com/questions/7699621/display-image-at-50-of-its-native-size */

/****************************************** wider screens *********************************************/
@media (min-width: 320px) {
	.wrapper ul li {
		width: 80%;
		/*margin: 4%;*/
	}
}

@media (min-width: 400px) {
	.wrapper ul li {
		width: 50%;
		/*margin: 4%;*/
	}
}

@media (min-width: 500px){
	.wrapper ul li {
		width: 39%;
		/*margin: 2%;*/
	}
}

@media (min-width: 600px){
	.wrapper ul li {
		width: 30%;
		/*margin: 2%;*/
	}
}

@media (min-width: 700px){
	.wrapper ul li {
		width: 28%;
		/*margin: 2%;*/
	}
}

@media (min-width: 800px){
	.wrapper ul li {
		width: 23%;
		/*margin: 2%;*/
	}
}
@media (min-width: 900px){
	.wrapper ul li {
		width: 18%;
		/*margin: 2%;*/
	}
}
@media (min-width: 1000px){
	.wrapper ul li {
		width: 15%;
		/*margin: 2%;*/
	}
}
@media (min-width: 1100px){
	.wrapper ul li {
		width: 15%;
		/*margin: 2%;*/
	}
}


/****************************************** typography *********************************************/

html {
	font-size: 12px;
}

header {
	font-size: 1.5rem;
	line-height: 1.8rem;
}

#collection-name {
	font-size: 2rem;
}

.collection-name h3{
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
	-webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}

.plus{
	text-align: center;
	margin-top: 25px;
	font-family: sans-serif;
	font-size: 2em;
}

/******************************************** colors, borders *********************************************/
body{
  background-color: lightgray;
}

header {
	background-color: lightgray;
	color: black;
}

header input {
	background-color: transparent;
	border: solid white 1px;
}

.search__submit {
	background-color: black;
	color: white;
	border-style: none;
	border-radius: 4px;
}

h3{
	color: black;
}
.results {
	background-color: lightgray;
}

.card {
	background-color: white;
}

.card__image {
	/*background-color: rgba(106,106,106,0.5);*/
	background-color: dimgray;
}
.card__notes {
	background-color: lightgray;
}

.card__input{
	background-color: transparent;
	border: none;
}